/*


!/hypr
!/ghostty
!/kitty
!/waybar
!/wofi
!/fastfetch
!/fish/config.fish
!/wallpaper
!/scripts
!/eww
!/swaync
!/bin
!/foot

!/fish
/fish/*
!/fish/config.fish

!starship.toml
!tmux.conf
!.gitignore
!LICENSE
!README.md
