* {
    border: none;
    font-family: 'FantasqueSansM Nerd Font', 'Symbols Nerd Font Mono';
    font-size: 16px;
    min-height: 0px;
}

window#waybar {
    /* background: transparent; */
    background: #1D2021;
}

window#waybar > box {
    margin: 1px 1px 1px 1px;
}

tooltip {
    background: #1D2021;
}

/* Rounded Right */
#custom-arch, #workspaces, #clock, #network {
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    margin-right: 12px;
}

/* Rounded Left */
#custom-arch, #workspaces, #clock, #cpu {
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
    margin-left: 12px;
}

/* Box */
#custom-arch, #workspaces, #clock, #cpu, #memory, #disk, #pulseaudio, #battery, #backlight, #network {
    color: #EBDBB2;
    background: #1D2021;
    font-size: 14px;
    padding: 4px 8px 4px 8px;
}

#custom-arch {
    color: #458588;
    padding-left: 32px;
    padding-right: 32px;
}

#workspaces button {
    margin-left: 2px;
    margin-right: 2px;
}

#workspaces button:hover {
    color: #458588;
}

#workspaces button.active {
    color: #458588;
}
