* {
    border: none;
    font-family: 'MartianMono Nerd Font', 'Symbols Nerd Font Mono';
    font-size: 12px;
    min-height: 0px;
}

window#waybar {
    background: #232136; /* Rose Pine Moon background */
    margin: 0px 12px 0px 12px;
}

window#waybar > box {
}

tooltip {
    background: #232136;
    color: #e0def4;
}

/* Rounded Right */
#custom-arch, #workspaces, #clock, #network, #tray {
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    margin-right: 8px;
}

/* Rounded Left */
#custom-arch, #workspaces, #clock, #cpu {
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
    margin-left: 8px;
}

/* Box */
#custom-arch, #workspaces, #clock, #cpu, #memory, #disk, #pulseaudio, #battery, #backlight, #network, #tray {
    color: #e0def4; /* Text */
    background: #232136; /* Background */
    font-size: 12px;
    padding: 4px 6px 4px 6px;
}

/* Custom Arch */
#custom-arch {
    color: #eb6f92; /* Love */
    padding-left: 19px;
    padding-right: 19px;
    font-size: 16px;
}

/* Workspaces */
#workspaces button {
    margin-left: 2px;
    margin-right: 2px;
    color: #c4a7e7; /* Iris default */
}

#workspaces button:hover {
    color: #eb6f92; /* Love on hover */
}

#workspaces button.active {
    color: #eb6f92; /* Love active */
}

