$primary : #c6a0f6;
$base: #24273a;
$content: #cad3f5;

$border: rgba(148, 156, 187, 0.2);

$content-transparent: rgba(186, 187, 241, 0.15);
$base-transparent: rgba(48, 52, 70, 0.9);

$rounded: 12px;
